onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=core-js-pure
onlyBuiltDependencies[]=es5-ext
onlyBuiltDependencies[]=esbuild
